/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  position: relative;
  overflow: hidden;

  background-color: #f5f8fa;
  opacity: 0.7;
  color: #16364a;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
}

.heroSubtitle{
  padding-right: 3rem;
}
